<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="style/choice.css">
	<link rel="stylesheet" href="style/color.css">
	<link rel="stylesheet" href="style/data.css">
	<link rel="stylesheet" href="style/dialog.css">
	<link rel="stylesheet" href="style/nav.css">
	<link rel="stylesheet" href="style/start.css">
	<link rel="stylesheet" href="style/style.css">
	<link rel="stylesheet" href="style/window.css">
	<title>Matcha</title>
	<script src="script/vue.js"></script>
</head>
<body>
	<div class="app">
		<div class="pageStart" v-if="page.start">
			<div class="start_background"></div>
			<header class="start_header">
				<div class="start_headerLogo">
					<img class="start_headerImg" src="images/heart_white.svg" alt="logo">
					<h1 class="start_headerH">matcha</h1>
				</div>
				<button class="start_headerButton" v-on:click="showSigninPage()">ВОЙДИТЕ</button>
			</header>
			<div class="start_body">
				<p class="start_bodyText">Свайп вправо</p>
				<button class="start_bodyButton" v-on:click="showRegistrationPage()">СОЗДАТЬ АККАУНТ</button>
			</div>
			<div class="start_window" v-if="page.signin">
				<div class="window">
					<div class="window_header">
						<img class="window_close close" src="images/close.svg" alt="close" v-on:click="closeWindow()">
					</div>
					<img class="window_logo" src="images/heart_ping.svg" alt="logo">
					<p class="window_text">НАЧАТЬ</p>
					<form class="window_form">
						<input class="window_formInput" type="text" name="login" autofocus placeholder="Логин">
						<input class="window_formInput" type="password" name="password" placeholder="Введите пароль">
						<input class="window_formInput" type="password" name="password" placeholder="Введите пароль" v-if="page.registration">
					</form>
					<input class="window_formSend" type="submit" form="test" v-bind:value="textWindowButton()" v-on:click="showMain()">
				</div>
			</div>
		</div>
		<div class="pageMain">
			<div class="nav_window">
				<div class="nav_header">
					<div class="nav_logo" v-on:click="showStartPage()">
						<img class="nav_logoAvatarka" v-bind:src="user.foto[0]" alt="avatarka">
						<h3 class="nav_logoH">{{ user.name }}</h3>
					</div>
					<img class="nav_headerButton" src="images/heart_white.svg" alt="">
				</div>
				<div class="nav_body">
					<div class="nav_choice">
						<p class="nav_choiceText" v-on:click="navChoice(1)" v-bind:class="choiceActive(1)">Пары</p>
						<p class="nav_choiceText" v-on:click="navChoice(0)" v-bind:class="choiceActive(0)">Сообщения</p>
					</div>
					<div class="nav_couplesChats">
						<ul class="nav_сouples" v-if="page.сouples">
							<li class="nav_card" v-for="chat in getCouples()" v-if="!sortChat(chat)" v-on:click="coupleActive(chat)"> 
								<img class="nav_cardImg" v-bind:src="chat.foto[0]" alt="foto">
								<p class="nav_cardName">{{ chat.name }}</p>
							</li>
						</ul>
						<ul class="nav_chats" v-if="page.chats" v-on:wheel.prevent="wheelChats">
							<li class="nav_chat" v-for="chat in getChats()" v-if="sortChat(chat)" v-on:click="chatActive(chat)" v-bind:class="chatActiveClass(chat)">
								<img class="nav_chatImg"   v-bind:src="chat.foto[0]" alt="avatarka">
								<div class="nav_chatBody">
									<h4 class="nav_chatHeader">{{ chat.name }}</h4>
									<p class="nav_chatText">{{ chat.lastMessage }}</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="nav_footer"></div>
			</div>
			<div class="choice_window" v-if="page.choice">
				<div class="choice_card">
					<div class="card">
						<img class="card_foto" v-bind:src="cards[0].foto[cards[0].active]" alt="foto">
						<div class="card_body">
							<div class="card_numberOfPhotos">
								<div v-for="foto in getFoto(cards)" v-bind:class="activeBand(foto, cards)" v-on:click="choiceFoto(foto)"></div>
							</div>
							<div class="card_change">
								<div class="card_changeBlock card_changeBlock__back" v-on:click="changeFoto(0)">
									<img class="card_changeDirection" src="images/card/left.svg" alt="backFoto">
								</div>
								<div class="card_changeBlock card_changeBlock__next" v-on:click="changeFoto(1)">
									<img class="card_changeDirection" src="images/card/right.svg" alt="nextFoto">
								</div>
							</div>
							<div class="card_info">
								<div class="card_nameAge">
									<p class="card_name">{{ cards[0].name }}</p>
									<p class="card_age">{{ cards[0].age }}</p>
								</div>
								<p class="card_description">{{ cards[0].discrpiption }}</p>
							</div>
							<div class="card_button">
								<img class="card_buttonImg card_buttonDislike" src="images/card/dislike.svg" alt="">
								<img class="card_buttonImg card_buttonSuperlike" src="images/card/superlike.svg" alt="">
								<img class="card_buttonImg card_buttonLike" src="images/card/like.svg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="control" autofocus>
					<button class="control_button" v-on:click="controlPanel()">{{ control.value }}</button>
					<div class="control_panel" v-if="control.status">
						<img class="control_img" src="images/control/left.svg" alt="arrow_left">
						<p class="control_text">НЕТ</p>
						<img class="control_img" src="images/control/right.svg" alt="arrow_right">
						<p class="control_text">ЛАЙК</p>
						<img class="control_img" src="images/control/up.svg" alt="arrow_up">
						<p class="control_text">ОТКРЫТЬ ПРОФИЛЬ</p>
						<img class="control_img" src="images/control/down.svg" alt="arrow_down">
						<p class="control_text">ЗАКРЫТЬ ПРОФИЛЬ</p>
						<img class="control_img" src="images/control/enter.svg" alt="arrow_enter">
						<p class="control_text">СУПЕР ЛАЙК</p>
						<img class="control_img" src="" alt="" width="80px">
						<p class="control_text">СЛЕДУЮ</p>
					</div>
				</div>
			</div>
			<div class="chat_window" v-if="page.dialog && chats">
				<div class="dialog">
					<div class="dialog_header">
						<div class="dialog_headerInfo">
							<img class="dialog_headerImg" v-bind:src="chats[partner].foto[0]" alt="foto">
							<p class="dialog_headerText">Вы и {{ chats[partner].name }} образовали пару {{ chats[partner].date }}</p>
						</div>
						<img class="close" src="images/close.svg" alt="close" v-on:click="showMain()">
					</div>
					<ul class="dialog_body" v-on:wheel.prevent="wheelDialog">
						<li v-for="message in getDialog()" v-bind:class="sortMassage(message.user)">
							<template v-if="message.user == user.name">
								<div class="message_lenta">
									<p class="message_text message_text__my"> {{ message.text }}</p>
								</div>
							</template>
							<template v-else>
								<img class="message_avatarka" v-bind:src="chats[partner].foto[0]" alt="avatarka">
								<div class="message_lenta">
									<p class="message_text message_text__ohter">{{ message.text }}</p>
								</div>
							</template>
						</li>
					</ul>
					<div class="dialog_footer">
						<form  id="dialog_input">
							<input class="massage_input" type="text" name="message" autocomplete="off" autofocus placeholder="Введите сообщение" v-model="chats[partner].tmpMessage" v-on:keyup.enter="sendMessage()" v-on:keypress.enter.prevent>
						</form>
						<input type="submit" form="test" value="ОТПРАВИТЬ" v-bind:class="inputColor()" v-on:click="sendMessage()">
					</div>
				</div>
				<div class="data" v-if="page.dialog">
					<div class="data_header">
						<img class="data_headerImg" v-bind:src="chats[partner].foto[chats[partner].active]" alt="foto">
						<div class="data_headerDiv">
							<div class="data_numberOfPhotos">
								<div v-if="getFoto(chats) != 1" v-for="foto in getFoto(chats)" v-bind:class="activeBand(foto, chats)" v-on:click="choiceFoto(foto)"></div>
							</div>
							<div class="data_change">
								<div class="data_changeBlock data_changeBlock__back" v-if="getFoto(chats) != 1" v-on:click="changeFoto(0)">
									<img class="data_changeDirection" src="images/card/left.svg" alt="backFoto">
								</div>
								<div class="data_changeBlock data_changeBlock__next" v-if="getFoto(chats) != 1" v-on:click="changeFoto(1)">
									<img class="data_changeDirection" src="images/card/right.svg" alt="nextFoto">
								</div>
							</div>
						</div>
					</div>
					<div class="data_body">
						<div class="data_info">
							<div class="data_info_header">
								<p class="data_info_name">{{ chats[partner].name }}</p>
								<p class="data_info_age">{{ chats[partner].age}}</p>
							</div>
							<p class="data_info_text">Учится в {{ chats[partner].city }}</p>
							<p class="data_info_text">С {{ chats[partner].wave }} волны</p>
						</div>
						<div class="data_description">
							<p class="data_description_text">{{ chats[partner].discrpiption }}</p>
						</div>
					</div>
					<div class="data_footer">
						<button class="data_footerButton" v-on:click="deleteUser()">УДАЛИТЬ ИЗ ПАР</button>
						<button class="data_footerButton">ЗАЯВИТЬ</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="script/app.js"></script>
</body>
</html>