<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="style/color.css">
	<link rel="stylesheet" href="style/start.css">
	<link rel="stylesheet" href="style/style.css">
	<link rel="stylesheet" href="style/window.css">
	<title>Matcha</title>
	<script src="script/vue.js"></script>
</head>
<body>
	<div class="app">
		<div class="pageStart" v-if="page.start">
			<div class="start_background"></div>
			<header class="start_header">
				<div class="start_headerLogo">
					<img class="start_headerImg" src="images/heart_white.svg" alt="logo">
					<h1 class="start_headerH">matcha</h1>
				</div>
				<button class="start_headerButton" v-on:click="showSigninPage()">ВОЙДИТЕ</button>
			</header>
			<div class="start_body">
				<p class="start_bodyText">Свайп вправо</p>
				<button class="start_bodyButton" v-on:click="showRegistrationPage()">СОЗДАТЬ АККАУНТ</button>
			</div>
			<div class="start_window" v-if="page.signin">
				<div class="window">
					<div class="window_header">
						<img class="window_close close" src="images/close.svg" alt="close" v-on:click="closeWindow()">
					</div>
					<img class="window_logo" src="images/heart_ping.svg" alt="logo">
					<p class="window_text">НАЧАТЬ</p>
					<form class="window_form">
						<input class="window_formInput" type="text" name="login" autofocus placeholder="Логин">
						<input class="window_formInput" type="password" name="password" placeholder="Введите пароль">
						<input class="window_formInput" type="password" name="password" placeholder="Введите пароль" v-if="page.registration">
					</form>
					<input class="window_formSend" type="submit" form="test" v-bind:value="textWindowButton()" v-on:click="showMain()">
				</div>
			</div>
		</div>
		<div class="pageMain" v-if="page.main">
			<h1>My</h1>
		</div>
	</div>
	<script src="script/app.js"></script>
</body>
</html>