@media screen and (max-width: 80rem) {
    .data {
        display: none;
    }
}

@media screen and (max-width: 50rem) {
    .nav {
        display: none;
    }
}

.chat {
	display: none;
	color: black; 
	/* не работает */
	display: flex;
	height: 100%;
}

/* ----------------------------------------------------- */
/* ------------------nav-------------------------------- */
/* ----------------------------------------------------- */

.nav {
	width: 25rem;
	display: flex;
	flex-direction: column;
}

/* ------------------nav_header------------------------- */

.nav_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 4.5rem;
	background: var(--main-fill);
}

.nav_logo {
	display: flex;
	align-items: center;
	margin: 0 0 0 1rem;
	padding: .1rem .5rem;
	height: 2.5rem;
	border-radius: 3rem;
}

.nav_logo:hover {
	background: var(--main-bg-blackout3);
	cursor: pointer;
}

.nav_logoH {
	margin: 0 0 0 1rem;
	color: var(--main-text-light);
}

.nav_headerButton {
	display: flex;
	align-items: center;
	margin: 0 1rem 0 0;
	padding: .5rem;
	border-radius: 100%;
	background: var(--main-bg-blackout3);
}

.nav_headerButton:hover {
	filter: brightness(80%);
	background: var(--main-bg-blackout7);
}

.nav_headerButton:hover {
	background: var(--main-bg-blackout3);
	cursor: pointer;
}

.nav_logoAvatarka {
	height: 2rem;
	border-radius: 100%;
}

/* ------------------nav_body--------------------------- */

.nav_body {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

.nav_body_windowСouples {
	display: none;
	flex: 1 0 auto;
}

.nav_body_choice {
	display: flex;
	align-items: center;
	height: 3.5rem;
}

.nav_body_choiceText {
	margin: 0 0 0 3rem;
	font-weight: 500;
	color: var(--main-text-dark);
}

.nav_body_choiceText:hover {
	cursor: pointer
}

.nav_card {
	margin: .5rem;
	position: relative;
	height: 9rem;
	width: 7rem;
}

.nav_cardImg {
	height: 100%;
	width: 100%;
	border-radius: .3rem;
}

.nav_cardName {
	position: absolute;
	left: 1rem;
	bottom: .5rem;
	font-size: 1.5rem;
	color: var(--main-text-light);
}

.nav_body_windowChat {
	flex: 1 0 auto;
	background: var(--main-bg-grey);
	box-shadow: 0 0 10px 1px var(--main-bg-blackout1) inset;
}

.nav_chat {
	display: flex;
	align-items: center;
	height: 6rem;
	box-sizing: border-box;
}

.nav_chat:hover {
	border-right: .4rem solid var(--main-bg-pink);
	border-top: 1px solid var(--main-border);
	border-bottom: 1px solid var(--main-border);
	box-shadow: 0 0 5px var(--main-bg-blackout3);
	cursor: pointer;
}

.nav_chat__active {
	border-right: .4rem solid var(--main-bg-pink);
	border-top: 1px solid var(--main-border);
	border-bottom: 1px solid var(--main-border);
	box-shadow: 0 0 5px var(--main-bg-blackout3);
}

.nav_chatImg {
	height: 5rem;
	border-radius: 100%;
	margin: 0 1.5rem;
}

.nav_footer {
	height: 3rem;
}

/* ------------------nav-------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ------------------dialog----------------------------- */

.dialog {
	flex: 10 0 auto;
	display: flex;
	flex-direction: column;
	border-left: 1px solid var(--main-bg-blackout3);
	border-right: 1px solid var(--main-bg-blackout3);
}

/* ------------------dialog_header---------------------- */

.dialog_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5rem;
	height: 6rem;
	border-bottom: 1px solid var(--main-bg-blackout3);
}

.dialog_headerInfo {
	display: flex;
	align-items: center;
}

.dialog_headerImg {
	height: 3.5rem;
	border-radius: 100%;
	border: 4px solid var(--main-bg-white);
	box-shadow: 0 0 4px 1px var(--main-bg-blackout3);
}

.dialog_headerText {
	color: var(--main-text-gray);
	margin: 0 0 0 1rem;
}


.dialog_body {
	flex: 10 0 auto;
	display: flex;
	flex-direction: column;
}

.message {
	display: flex;
	align-items: center;
}

.message_lenta {
	display: flex;
	flex-direction: column;
	margin: .5rem 1rem .5rem .5rem;
}

.message_my {
	justify-content: end;
}

.message_other {
	justify-content: start;
}

.message_avatarka {
	display: flex;
	align-self: end;
	margin: .5rem 0 .5rem 1.5rem ;
	height: 3rem;
	width: 3rem;
	border-radius: 100%;
}

.message_text {
	margin: .2rem;
	padding: .5rem 1.5rem;
	user-select: text;
}

.message_text__my {
	background: var(--main-bg-chat-blue);
	color: var(--main-text-light);
	border-radius: 1rem .3rem .3rem 1rem;
}

.message_lenta .message_text_my:first-child {
	border-radius: 1rem 1rem .3rem 1rem;
}

.message_text__ohter {
	background: var(--main-bg-grey);
	color: var(--main-text-dark);
	border-radius: .3rem 1rem 1rem .3rem;
}

.message_text::selection {
    color: var(--main-text-light);
	background: var(--main-bg-pink);
}

.message_lenta .message_text_ohter:first-child {
	border-radius: 1rem 1rem 1rem .3rem;
	/* не работает */
}

.dialog_footer {
	height: 4.5rem;
	border-top: 1px solid var(--main-bg-blackout3);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.5rem;
}

.massage_input {
	font-size: 1rem;
	font-weight: inherit;
	width: 40rem;
	border: none;
	color: var(--main-text-dark);
}

.massage_input:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}

.massage_input::selection {
    color: var(--main-text-light);
	background: var(--main-bg-pink);
}

.massage_send {
	padding: .4rem 1.5rem;
	background: var(--main-border);
	color: var(--main-text-light);
	font-size: 1.2rem;
	font-weight: 600;
	border: none;
	border-radius: 1rem;
}

.massage_send__active {
	background: var(--main-fill);
}

.massage_send__active:hover {
	cursor: pointer;
}

/* ------------------dialog----------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ------------------data------------------------------- */

.data {
	width: 30rem;
	display: flex;
	flex-direction: column;
}

.data_body {
	flex: 1 0 auto;
}


.data_info_header {
	display: flex;
	color: var(--main-text-dark);
	font-size: 1.8rem;
}

.data_info {
	margin: 1rem;
}

.data_info_name {
	font-weight: 800;
	margin: 0 1rem 0 0;
}

.data_info_text {
	font-size: 1.2rem;
	color: var(--main-text-gray);
}

.data_description {
	border-top: 1px solid var(--main-border);
	padding: 1rem;
}

.data_description_text {
	margin: .3rem 0;
	color: var(--main-text-gray);
}

.data_footer {
	display: flex;
	min-height: 4.5rem;
	height: 4.5rem;
	border-top: 1px solid var(--main-bg-blackout3);
}

.data_footerButton{
	width: 100%;
	border: none;
	background: var(--main-bg-grey);
	color: var(--main-text-dark);
	font-size: .9rem;
	font-weight: bold;
}

.data_footerButton:first-child {
	border-right: 1px solid var(--main-bg-blackout3);
}

.data_footerButton:hover {
	background: var(--main-fill);
	color: var(--main-text-light);
	border: none;
}

/* ------------------data------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
