.login {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .5);
}

.login_window {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 25rem;
	border-radius: .7rem;
	background: rgb(255, 255, 255);
}

.login_windowHeder {
	display: flex;
	width: 100%;
	justify-content: end;
}

.login_windowClose {
	margin: 0 .3rem;
}

.login_windowLogo {
	position: relative;
	height: 5rem;
	flex: 1 0 auto;
	display: flex;
	top: -1rem;
}

.login_window_text {
	color: var(--main-text-dark);
	font-size: 2rem;
}

.sign_input {
	display: flex;
	align-items: center;
	margin: 1rem;
	padding: .7rem 1rem;
	width: 19rem;
	border: 2px solid var(--main-text-gray);
	border-radius: 3rem;
	font-size: 1.5rem;
	color: var(--main-text-gray)
}

.sign_input:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}

.sign_send  {
	display: flex;
	align-items: center;
	margin: 0 0 2rem 0;
	padding: .5rem;
	width: 15rem;
	border: none;
	border-radius: 3rem;
	font-size: 1.5rem;
	background: var(--main-fill);
	color: var(--main-text-light);
	cursor: pointer;
}

.login_close {
	position: relative;
	top: .2rem;
	left: .2rem;
}