.main {
	display: flex;
	flex-direction: column;
}
.main_background {
	height: 100%;
	width: 100%;
	position: absolute;
	background: url(/frontend/images/backgraund.jpg);
	filter: brightness(50%);
	background-size: cover;
}

.main_header {
	background: linear-gradient(0deg, rgba(253,45,45,0) 0%, rgba(0,0,0,1) 80%);
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main_header_h {
	margin: 0 1rem;
	font-size: 3rem;
}

.main_header_button {
	margin: 0 1rem;
	padding: .7rem 1.5rem;
	background: var(--main-bg-white);;
	border: none;
	border-radius: .4rem;
	cursor: pointer;
	color: var(--main-bg-pink);
	font-size: 1rem;
	font-weight: bold;
}

.main_header_button:hover {
	background: var(--main-fill);
	color: var(--main-textAlternate);
}

.main_body {
	position: relative;
	margin-top: 25vh;
	display: flex;
	flex: 1 0 auto;
	height: 100%;
	flex-direction: column;
	align-items: center;
}

.main_body_text {
	font-size: 10vw;
	font-weight: 500;
}

.main_body_button {
	background: var(--main-fill);
	color: var(--main-text-light);
	height: 3.4rem;
	width: 16rem;
	border: none;
	border-radius: 20rem;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
}

.main_body_button:hover {
	cursor: pointer;
}